[project]
name = "pruebas-de-software"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "flake8>=7.3.0",
    "pylint>=4.0.4",
    "pytest>=9.0.2",
]
